In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("ADSexp2dataset.csv")
data.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [6]:
data = pd.DataFrame(data.iloc[:,:4])
data

     5.1  3.5  1.4  0.2
0    4.9  3.0  1.4  0.2
1    4.7  3.2  1.3  0.2
2    4.6  3.1  1.5  0.2
3    5.0  3.6  1.4  0.2
4    5.4  3.9  1.7  0.4
..   ...  ...  ...  ...
144  6.7  3.0  5.2  2.3
145  6.3  2.5  5.0  1.9
146  6.5  3.0  5.2  2.0
147  6.2  3.4  5.4  2.3
148  5.9  3.0  5.1  1.8

[149 rows x 4 columns]

# Z-SCORE

In [8]:
import scipy.stats as stats

stats.zscore(data)

          5.1       3.5       1.4       0.2
0   -1.148356 -0.118060 -1.353964 -1.325063
1   -1.390542  0.344859 -1.410986 -1.325063
2   -1.511636  0.113399 -1.296943 -1.325063
3   -1.027262  1.270695 -1.353964 -1.325063
4   -0.542889  1.965072 -1.182901 -1.061466
..        ...       ...       ...       ...
144  1.031326 -0.118060  0.812838  1.442709
145  0.546952 -1.275355  0.698796  0.915514
146  0.789139 -0.118060  0.812838  1.047313
147  0.425859  0.807777  0.926880  1.442709
148  0.062578 -0.118060  0.755817  0.783716

[149 rows x 4 columns]

# Z-TEST

In [10]:
from numpy.random import randn
from statsmodels.stats.weightstats import ztest

x1 = data.loc[:, '5.1']
x2 = data.loc[:, '3.5']
z = ztest(x1, x2, value= 1505, alternative='larger')
z

(-19608.501058618105, 1.0)

# T-TEST

In [12]:
import scipy.stats as stats
x1 = data.loc[:, '5.1']
x2 = data.loc[:, '3.5']

stats.ttest_ind(x1, x2, equal_var=True)

Ttest_indResult(statistic=36.513822839267014, pvalue=1.2183336444822307e-111)

# PAIRED T-TEST

In [14]:
import scipy.stats as stats
x1 = data.loc[:, '5.1']
x2 = data.loc[:, '3.5']

stats.ttest_rel(x1, x2)

TtestResult(statistic=35.0502210977937, pvalue=1.4788850723163275e-73, df=148)

# Correlation Coefficients

In [16]:
data.corr(method="pearson")

          5.1       3.5       1.4       0.2
5.1  1.000000 -0.103784  0.871283  0.816971
3.5 -0.103784  1.000000 -0.415218 -0.350733
1.4  0.871283 -0.415218  1.000000  0.962314
0.2  0.816971 -0.350733  0.962314  1.000000

In [17]:
data.corr(method='spearman')

          5.1       3.5       1.4       0.2
5.1  1.000000 -0.152136  0.881759  0.833586
3.5 -0.152136  1.000000 -0.294020 -0.267686
1.4  0.881759 -0.294020  1.000000  0.936188
0.2  0.833586 -0.267686  0.936188  1.000000

In [18]:
data.corr(method='kendall')

          5.1       3.5       1.4       0.2
5.1  1.000000 -0.067636  0.718290  0.654197
3.5 -0.067636  1.000000 -0.175665 -0.140207
1.4  0.718290 -0.175665  1.000000  0.803041
0.2  0.654197 -0.140207  0.803041  1.000000

# CHISQUARE

In [22]:
from scipy.stats import chisquare
x1 = data.loc[:, '5.1']
chisq = chisquare(x1).statistic
pvalue = chisquare(x1).pvalue
print("chisquare statistics: ", chisq)
print("chisquare pvalue: ", pvalue)

chisquare statistics:  17.374569658021578
chisquare pvalue:  1.0